<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Final Exam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='final.css') }}"> <!-- css 파일 지정-->
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Final Exam</h2>
        </div>
        <div class="main">
            <div>
                <button id="Btn" onclick="dis()">Measure Distance</button>                      <!-- Javascript 함수 지정 -->
            </div>
           
        </div>
        <div id="result">

        </div>
    </div>
    <script>
        function dis(){     //자동차 잠금 
            fetch("/dis")                                                    /* 해당 경로 파일을 실행 */
            .then(response=> { console.log(response); return response.text()})
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");     
                let button = document.querySelector("#Btn")   

                if(data=="fail"){  
                    
                    result.innerHTML = "<h1>error</h1>";
                }
                else{
                    
                   
                    result.innerHTML = "<h1>"+ data +"</h1>";
                }
            });
        }
        
    </script>
</body>
</html>